.middle {
  text-align: center;
}

.fancy {
  font-weight: bold;
  font-style: oblique;
}

.small {
  font-size: 13px;
}

.smirk {
  text-align: center;
}

.pad-low {
  padding-bottom: 8em;
  padding-top: 5em;
}

.container {
  background-color: white;
}

.well {
  background-color: moccasin;
  padding-top: .3em;
}

.panel p {
  padding-top: 1em;
  margin-bottom: .2em;
}

footer {
  font-style: italic;
}

img {
  padding-bottom: 3em;
}

ol li :not(footer) {
  font-weight: bold;
}

body {
  background-color: gainsboro;
}

#justice {
  text-align: justify;
  font-size: 13px;
}
