.middle {
  text-align: center;
}

.fancy {
  font-weight: bold;
}

.small {
  font-size: 13px;
}

.smirk {
  text-align: center;
}

img {
  padding-bottom: 3em;
}

#justice {
  text-align: justify;
  font-size: 13px;
}
